<?xml version="1.0" encoding="UTF-8"?>
<config>
  <businessLogic local="false"> 
	<businessLogicNode>158.227.124.43</businessLogicNode>
	<businessLogicPort>1099</businessLogicPort>
	<businessLogicName>Bets</businessLogicName>
  </businessLogic>
  <database local="true">
	<databaseNode>158.227.124.43</databaseNode>
	<dbFilename>resources/bets.temp</dbFilename>
	<dataBaseOpenMode>initialize</dataBaseOpenMode>
	<databasePort>6136</databasePort>
	<user>admin</user>
	<password>admin</password>
  </database>
  <locale>en</locale>
</config>
